#body_1
{
	background:linear-gradient(red,rgb(238, 0, 186));
	
}

	.login_div1 , .login_div2
	{
		background: rgb(243, 138, 0);
		padding: 10px;
		float: none;
		border-radius: 100px;
        width: 1000px;
	}
#login{
    border-radius: 100px;
}
#player1_input{
    background-color: yellow;
    color: tomato;
    width: 800px;
}
#player2_input{
    background-color: yellow;
    color: tomato;
    width: 800px;
}
#body_2
{
	background:rgb(247, 164, 196)
}
#output{
    background: rgb(250, 98, 250);
    border-radius: 10px;
    border-top: 10px solid rgb(245, 73, 73);
    padding: 10px;
    float: none;
    text-align: left;
}